<!DOCTYPE html>
<html lang="en">
<head>
  <title>Hyperarchy</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "http://js.pusher.com/1.12/pusher.min.js" %>
  <script type="text/javascript">
    window.PUSHER_API_KEY = "<%= Pusher.key %>";
  </script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
