<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="shortcut icon" href="/favicon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hyperarchy</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "https://d3dy5gmtp8yhk7.cloudfront.net/1.12/pusher.min.js" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript">
    window.APP_MODE = "<%= ENV['APP_MODE'] %>";
    window.PUSHER_API_KEY = "<%= Pusher.key %>";
    window.PUSHER_CHANNEL_PREFIX = "<%= PUSHER_CHANNEL_PREFIX %>";
    window.pusher = new Pusher(PUSHER_API_KEY);
    Models.User.currentUserId = <%= current_user_id %>;
    Monarch.Repository.update(<%= build_client_dataset(current_user.initial_dataset).to_json.html_safe %>)
  </script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
